@model HRMS.Core.Entities.Master.Shift

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<style>
 
</style>
<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete"
      asp-action="UpsertShift" asp-controller="Shift" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">


                <div class="col-md-4">
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedDate" type="hidden" />
                        <label asp-for="Name">Shift Name</label><span style="color:red">  *</span>
                        <input type="text" class="form-control" asp-for="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ShiftStartTime">Shift Start Time</label><span style="color:red">  *</span>
                        <input type="text" class="form-control" asp-for="ShiftStartTime" />
                        <span asp-validation-for="ShiftStartTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ShiftEndTime">Shift End Time</label><span style="color:red">  *</span>
                        <input type="text" class="form-control" asp-for="ShiftEndTime" />
                        <span asp-validation-for="ShiftEndTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ShiftLateTime">Shift Late Time</label>
                        <input type="text" class="form-control" asp-for="ShiftLateTime" />
                        <span asp-validation-for="ShiftLateTime" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="HidePopUp();">Close</button>
        <input type="submit" class="btn btn-primary  " value="Save" />
    </div>
</form>