<div class="row">
    <div class="col-md-7">
        <div class="panel-primary">
            <div class="panel-header">
                Department Details
            </div>
            <div class="panel-body">
                Department Details
            </div>
        </div>
    </div>
    <div class="col-md-5">
        Details
    </div>
    
</div>