<div class="modal fade" id="divModalPop" role="dialog" style="overflow:auto">
    <div class="modal-dialog modal-dialog-centered  modal-lg" style="width:90%">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <button type="button" class="close TopMar16" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <a id="modalTitle"></a>
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <fieldset class="fieldset marB0">
                            <div id="divHRMSCreate"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>