@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.Admin.UI.Helpers;
@using HRMS.Core.Entities.Organisation;

@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");

}








<footer class="main-footer">

    <strong>Copyright © @DateTime.Now.Year <a target="_blank" href="@companyDetails.Url">@companyDetails.Name</a>.</strong> All rights reserved.
</footer>