@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.Admin.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
@using HRMS.Core.Entities.Payroll;
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    var todayDate = DateTime.Now.ToLongDateString();
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var roleId = HttpContextAccessor.HttpContext.Session.GetString("RoleId");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@companyDetails.Name</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" href="~/resources/dist/img/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="@companyDetails.FavIcon" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="~/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="~/resources/dist/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/resources/dist/css/custom.css?v=1.3" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/selector.css?v=1" rel="stylesheet" />
    <link href="~/resources/dist/css/loader.css" rel="stylesheet" type="text/css" />
    <script src="~/resources/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="~/resources/dist/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="~/resources/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/resources/dist/js/app.min.js" type="text/javascript"></script>
    <link href="~/resources/dist/css/rnr.css?v=1.2" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/font-awesome/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/build.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/custom-fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
    <link href="~/resources/dist/css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
    <script src="~/resources/dist/js/owl.carousel.js"></script>
    <script src="~/AlertifyJs/src/js/alert.js"></script>
    <script src="~/AlertifyJs/src/js/confirm.js"></script>
    <script src="~/Custom/Custom.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/jquery-ajax-unobtrusive@3.2.6/dist/jquery.unobtrusive-ajax.min.js"
            integrity="sha256-PAC000yuHt78nszJ2RO0OiDMu/uLzPLRlYTk8J3AO10="
            crossorigin="anonymous"></script>

    <script src="~/js/CustomJqGrid.js"></script>
     
    <link href="~/resources/dist/css/LayoutCustom.css" rel="stylesheet" />

    <link href="~/resources/plugins/jQueryUI/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/resources/plugins/jQueryUI/jquery-ui.min.js"></script>

    <script src="~/resources/plugins/toastr/toastr.min.js"></script>
    <script src="~/resources/dist/js/jquery.MultiFile.js"></script>
    <script src="~/resources/dist/js/custom.js?v=3"></script>
    <link href="~/AlertifyJs/build/css/themes/bootstrap.css" rel="stylesheet" />
    <script src="~/AlertifyJs/build/alertify.js"></script>
    <link href="~/AlertifyJs/build/css/alertify.css" rel="stylesheet" />
    <script src="~/AlertifyJs/build/alertify.js"></script>
    <link href="~/resources/dist/css/rnr.css?v=1.2" rel="stylesheet" />
    <link href="~/resources/dist/css/iconmoon.css" rel="stylesheet" />
    <link href="~/resources/dist/css/index.css?v=1.2" rel="stylesheet" />
    <script src="~/resources/dist/js/pie-chart.js"></script>
   


</head>

<body class="skin-blue sidebar-mini" style="">


    <div class="wrapper">
        @await Component.InvokeAsync("HeaderMenu")
        


        @await Component.InvokeAsync("MenuSubMenu")




        @RenderBody()
        @await Html.PartialAsync("~/Views/Shared/_CommomModalPopUpPartial.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_LoadingPopup.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")




    </div>

</body>
</html>
 
<script>
    $('#example').dataTable({
        "iDisplayLength": 10,
        "bDestroy": true,
        "scrollX": true,
        "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]]
    });
</script>

<script type="text/javascript">

    function ChangePassword() {
        $.get("/Authenticate/ChangePassword", function (data) {
            $("#divHRMSCreate").html(data);
            $("#divModalPop").modal('show');
            $("#modalTitle").text("Change Password");
        })
    }
</script>

<script type="text/javascript">
    function ChangePassword() {
        $.get("/Authenticate/ChangePassword", function (data) {
            $("#divHRMSCreate").html(data);
            $("#divModalPop").modal('show');
            $("#modalTitle").text("Change Password");
        })
    }

   
</script>
@*<script type="text/javascript">
    $(document).ready(function () {
        $(document)[0].oncontextmenu = function () { return false; }
        $(document).mousedown(function (e) {
            if (e.button == 2) {
                alert('Sorry, this functionality is disabled!');
                return false;
            } else {
                return true;
            }
        });
    });
</script>*@

