<div id="divLoader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade in"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="position: absolute; top: 50%; left: 50%; margin-left: -50px; margin-top: -50px;">
        <img src="~/resources/dist/img/loading.gif" style="width: 200px; height: 200px;" />
    </div>
</div>