<div id="divLoader" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade in"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="position: absolute; top: 50%; left: 60%; margin-left: -100px; margin-top: -100px;">
        <img src="~/resources/dist/img/sample.gif" style="width: 100px; height: 100px;" />
    </div>
</div>