@model HRMS.Core.Entities.Posting.CurrentOpening
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
<style>
    .modal.fade .modal-dialog {
        transform: translate(0);
        margin: 0 0 0 auto;
        height: 100%
    }

    .modal-content {
        height: 100%
    }

    .modal-footer {
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>
<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete" enctype="multipart/form-data"
      asp-action="UpSertOpening" asp-controller="CurrentOpening" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedDate" type="hidden" />
                        <input asp-for="FinancialYear" type="hidden" />
                        <label asp-for="Title">Job Title</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="RequiredExprience">Required Exprience</label>
                        <input asp-for="RequiredExprience" class="form-control" />
                        <span asp-validation-for="RequiredExprience" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="KeySkills">Key Skills</label>
                        <input asp-for="KeySkills" class="form-control" />
                        <span asp-validation-for="KeySkills" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Vacancy">Vacancies</label>
                        <input asp-for="Vacancy" class="form-control" />
                        <span asp-validation-for="Vacancy" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastApplyDate">Last Apply Date</label>
                        <input asp-for="LastApplyDate" class="form-control" />
                        <span asp-validation-for="LastApplyDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Location">Job Location</label>
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Job Descripiotn (.Pdf)</label>
                        <input type="file" class="form-control" name="PdfFile" id="PdfFile" />
                        <span asp-validation-for="DescriptionPath" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <canvas id="the-canvas" style="border: 1px solid black; height: 300px; width: 300px;"></canvas>
                </div>
              
            </div>
        </div>

    </div>
    <div class="modal-footer">


        <button type="button" class="btn btn-primary btn-close" onclick="HidePopUp();">Close</button>
        <input type="submit" class="btn btn-primary  " value="Save" />
    </div>
</form>