@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
@using HRMS.Core.Entities.Payroll;
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    var todayDate = DateTime.Now.ToLongDateString();
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var roleId = HttpContextAccessor.HttpContext.Session.GetString("RoleId");
     
}
<style>
    .color-line {
        background: #f7f9fa;
        height: 6px;
        background-image: -webkit-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
        background-image: -moz-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
        background-image: -ms-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
        background-image: linear-gradient(to right,#CC2AC0,#CC2AC0 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
        background-size: 100% 6px;
        background-position: 50% 100%;
        background-repeat: no-repeat
    }
</style>
<header class="main-header">
    <div class="color-line"> </div>
    <a asp-action="Index" asp-controller="Home" class="logo">
        <!-- Logo -->
        <span class="logo-mini">

            <img src="@companyDetails.Logo" alt="">
        </span>
        <span class="logo-lg">

            <img src="@companyDetails.Logo" alt="">
        </span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <!-- Sidebar toggle button-->
            <span class="sr-only">Toggle navigation</span>
            <span class="pe-7s-keypad"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <button class="btn btn-black" type="button" style="margin-top: 13px;">   Current Financial Year : @HttpContextAccessor.HttpContext.Session.GetString("financialYear")  </button>
                </li>
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="pe-7s-settings"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="pe-7s-users"></i> User Profile</a></li>
                        @*<li><a href="#"><i class="pe-7s-settings"></i> Settings</a></li>*@
                        <li><a asp-action="Logout" asp-controller="Authenticate"><i class="pe-7s-power"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>












  