@model IEnumerable<HRMS.Core.Entities.Master.SalaryHeads>
<div class="table-responsive">

    <div class="dataTables_wrapper" role="grid">


        <table class="table table-condensed table-striped table-hover table-bordered table-body-nowrap table-head-nowrap dataTable" cellspacing="0" rules="all" border="1" id="example" style="border-collapse:collapse;" aria-describedby="cp_MainContent_widgetExitEmployee_grdExitEmployees_info">
            <thead>
                <tr class="th-primary" role="row">
                    <th>#</th>
                    <th>Head Name</th>
                    <th>Head Code</th>
                    <th>Head Type</th>
                    <th>Is Depend on Day</th>
                    <th>Display on Payslip</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
                @{
                    int count = 1;
                    string trclass = string.Empty;
                }
                @foreach (var data in Model)
                {
                    if (count / 2 == 0)
                    {
                        trclass = "even";
                    }
                    else
                    {
                        trclass = "odd";
                    }
                <tr>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @count
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @data.HeadName
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">

                        @data.HeadCode
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @if (data.HeadType.Trim().ToUpper() == "A")
                        {
                            <span style="color:green">Addition</span>
                        }
                        else
                        {
                            <span style="color:orangered">Deduction</span>
                        }
                    </td>

                    <td align="left" style="width:5%;" class="sorting_1">
                        @if (data.IsDependOnDay)
                        {


                            <span><i class="fa fa-check"></i></span>
                        }
                        else
                        {
                            <span><i class="fa fa-cancel"></i></span>
                        }
                    </td>
                    <td align="left" style="width:5%;" class="sorting_1">
                        @if (data.IsDisplayOnPaySlip)
                        {


                            <span><i class="fa fa-check"></i></span>
                        }
                        else
                        {
                            <span><i class="fa fa-cancel"></i></span>
                        }
                    </td>

                    <td align="left" style="width:5%;" class="sorting_1">
                        <a class="btn btn-outline-success pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="UpdateRecord(@data.Id, this)">
                            <i class="fa fa-edit" style="color:#3C8DBC"></i>

                        </a>

                        <a class="btn btn-outline-danger pull-right" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'  style='color:#DD4B39'></i>" onclick="Delete(@data.Id, this)">
                            <i class="fa fa-trash" style="color:#DD4B39"></i>

                        </a>
                    </td>
                </tr>
                    count++;
                }

            </tbody>
        </table>

    </div>


</div>
