@model HRMS.Core.ReqRespVm.RequestVm.AuthenticateModel;
@{ Layout = null;}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kudo Tech || Login</title>
    <mimeMap fileExtension="webmanifest" mimeType="application/manifest+json" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" href="~/favicon.ico">

    <link href="~/resources/login/css/login-page.css" rel="stylesheet" />

     
    <style>
        .login-page{background-image:url(../resources/login/img/login-bg.jpg); background-size:cover; height:100vh; left:0px !important;}
        .login-body .login-block .login-body-block{height:330px}
        .alert-danger{color:#31708f; background-color:#d9edf7; border-color:#bce8f1; position:absolute; width:96%; z-index:2; left:2%; top:1%; , marrgin-left:-1%; font-size:13px;}
        .alert-dismissable{padding-right:35px;}
        .alert{padding:15px; margin-bottom:20px; border:1px solid transparent; border-radius:4px;}
        .alert-dismissable .close{position:relative; top:0px; right:0px; color:inherit; text-decoration:none;}
        .close{float:right; font-size:21px; font-weight:700; line-height:1; color:#000; text-shadow:0 1px 0 #fff; filter:alpha(opacity=20); opacity:.2;}
        .fadeIn{display:inline-block; margin:0px auto; position:fixed; transition:all 0.5s ease-in-out; z-index:1031; top:20px; left:0px; right:0px}
        .fadeOut{height:1px; position:absolute; top:-100px; transition:all 0.5s ease-in-out;}
        #generate-otp, #new-password{display:none}
        #btnLogin{margin-top:65px}
        .btnLogin-2{margin-top:10px}
        #btnotp{margin-top:100px}
        #btnsub{margin-top:32px}
        #btnForgot a:hover{color:#33cccc}
    </style>
</head>
<body>
    <div class="main-content login-page">
        <section>
            <div class="db-overlay"></div>
            <div class="db-head login-head">
                <div class="main-container ot-pd">
                    <div class="db-head-content">
                        <div class="left-block">
                            <div class="menu-tab">
                                <!--<div class="menu-icon icon icon-menu-group">
                                </div>-->
                                <div class="menu-main-content">
                                    <div class="close-btn icon icon-wrong"></div>
                                </div>
                            </div>
                            <div class="main-logo">
                                <a href="http://kudotech.in/" target="_blank">
                                    <img src="~/LoginJsCss/images/logo.png" />
                                    <span>Kudo Tech</span>
                                </a>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="imp-link">
                                <a href="#" target="_blank">
                                    <span class="icon icon-24hours"></span>
                                    <span>need support?</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="login-body main-container ot-pd">
                <div class="login-block">
                    <div class="login-title-block">
                        <span class="icon icon-lock"></span>
                        <span class="login-txt">user login</span>
                    </div>
                    <div class="login-body-block">
                        <form asp-action="Login" asp-controller="Authenticate">
                            <div id="login">
                                <div class="input-group emp-code">
                                    <input type="text" id="UserName" name="UserName" required />
                                    <label for="UserName">employee code</label>
                                </div>
                                <div class="input-group pas-code">
                                    <input type="password" id="Password" name="Password" maxlength="24" required />
                                    <label for="Password">Password</label>
                                </div>
                                <div class="input-group login-input-list">
                                    <div class="login-input-item re-me" id="chkRemember">
                                        <span class="icon icon"></span>
                                    </div>
                                    <div class="login-input-item for-pass" id="btnForgot">
                                        <a href="javascript:void(0);">Forgot password ?</a>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <p style="color:red">@ViewBag.Message</p>
                                }
                                <button type="submit" class="db-btn login-btn sub-btn" id="btnLogin">
                                    Login
                                </button>
                                 
                            </div>
                        </form>
                            <div id="generate-otp" class="input-group">                               
                                <div class="login-input-item">
                                    <input type="text" id="txtEmpCode" name="txtEmpCode" required />
                                    <label for="txtEmpCode">employee code</label>
                                    <p style="color:red">OTP sent on registered number.</p>
                                    <button type="button" class="db-btn sub-btn" id="btnotp">Send OTP</button>
                                     <button type="button" class="db-btn login-btn sub-btn btnLogin-2">Login
                                </button>
                                </div>
                            </div>
                            <div id="new-password" class="input-group">  
                                
                                    <div class="input-group emp-code">
                                        <input type="text" id="UserName" name="UserName" required />
                                        <label for="txtEmpCode">employee code</label>
                                    </div>
                                    <div class="input-group password">
                                        <input type="password" id="NewPassword" name="Password" maxlength="24" required />
                                        <label for="txtPassword">New Password</label>
                                    </div>
                                    <div class="input-group pas-code confirm-password">
                                        <input type="password" id="ConfirmPassword" name="Password" maxlength="24" required />
                                        <label for="txtPassword">Confirm Password</label>
                                    </div>
                                    <button type="submit" class="db-btn sub-btn" id="btnsub">Submit</button>
                                    <button type="submit" class="db-btn login-btn sub-btn btnLogin-2">
                                        Login
                                    </button>
                                 
                            </div>
                      
                        
                    </div>
                </div>

                <div class="zingo-desc">
                    <div class="zingo-content">
                        <span class="loginTitle">Welcome to KUDOTECH HR</span>
                        <span class="loginSubtitle">
                            As an organization we understand your aspiration to spend all your productive hours into expanding business. KUDOTECH HRMS is an employee self-service software for operations management which ultimately helps you to focus on your aspirations.
                        </span>
                        @*<a href="http://kudotech.in/" target="_blank" class="login-link login-link-url ">Discover More...</a>*@
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- *****fancy box**** -->
    <link href="~/resources/login/css/swiper.min.css" rel="stylesheet" />
    <link href="~/resources/login/css/jquery.fancybox.min.css" rel="stylesheet" />

    <script src="~/resources/login/js/jquery-3.3.1.min.js"></script>
    <script src="~/resources/login/js/jquery.fancybox.min.js"></script>

</body>
</html>

    <script>
        $("#btnForgot").click(function(){
          $("#new-password, #login").hide();
          $("#generate-otp").show();
        }); 

        $("#btnotp").click(function () {
            var empCode = $("#txtEmpCode").val();

            let forgetPasswordUrl = "/Authenticate/ForgetPassword"

            $.get(forgetPasswordUrl, { empCode: empCode }, function (data) {
                if (data) {
                    alert("OTP has been sent, Please check and login")
                    $("#generate-otp, #login").hide();
                    $("#new-password").show();
                   
                } else {
                    alert("Something wents wrong, Please contact admin");
                }
            })
        
        }); 

        $(".btnLogin-2").click(function(){
          $("#generate-otp, #new-password").hide();
          $("#login").show();
        }); 
    </script>