
<div class="content-wrapper" style="min-height: 870px;">
<section class="content">
    <div class="row">
        <div class="col-md-12">
             <div class="row" style="margin-top:0;">
                <div class="col-md-12 col-sm-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Create @ViewBag.HeaderTitle</h3>
                            <a class="btn btn-primary pull-right btn-xs" onclick="AddRecord()">
                                <i class="fa fa-plus"> &nbsp; Add</i>
                            </a>
                        </div>
                        <div class="box-body">
                            <div id="divHRMS">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

<script>
    function GetRecord() {
        GetCustomRecord("/SubModule/GetSubModuleDetails","divHRMS")
    }

    $(document).ready(function () {
        GetRecord();
    })

    function AddRecord() {
        NewCustomRecord("/SubModule/CreateSubModule","Create Role Detail")
    }

    function Delete(id,eData) {
        CustomDeleteRecord(id, "/SubModule/GetSubModuleDetails", "/SubModule/DeleteSubModule", eData);
    }

    function UpdateRecord(id) {
        UpdateCustomRecord(id, "/SubModule/CreateSubModule", "Create SubModule Detail","Update SubModule Detail");
    }
</script>

