@model HRMS.Core.Entities.Master.EmployeeAssets

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete"
      asp-action="UpsertEmployeeAssets" asp-controller="EmployeeAssets" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="EmployeeId">Employee Name</label><span style="color:red">  *</span>
                            <select class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.EmployeeName ,"Id","EmployeeName"))">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BranchId">Branch</label><span style="color:red">  *</span>
                            <select class="form-control" asp-for="BranchId" asp-items="@(new SelectList(ViewBag.Branch ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="BranchId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AssetsCategoryId">Assets Category Name</label><span style="color:red">  *</span>
                            <select class="form-control" asp-for="AssetsCategoryId" asp-items="@(new SelectList(ViewBag.AssCatName ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="AssetsCategoryId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CreatedBy" type="hidden" />
                            <input asp-for="CreatedDate" type="hidden" />
                            <input asp-for="FinancialYear" type="hidden" />
                            <label asp-for="Name">Employee Assets Name</label><span style="color:red">  *</span>
                            <input type="text" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AssetsTag">Assets Tag</label>
                            <input asp-for="AssetsTag" class="form-control" />
                            <span asp-validation-for="AssetsTag" class="text-danger"></span>
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AssetsStatus">Assets Status</label>
                            <input asp-for="AssetsStatus" class="form-control" />

                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Category">Category</label>
                            <input asp-for="Category" class="form-control" />
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DongleNumber">Dongle Number</label>
                            <input asp-for="DongleNumber" class="form-control" />
                            <span asp-validation-for="DongleNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MEID">MEID</label>
                            <input asp-for="MEID" class="form-control" />
                            <span asp-validation-for="MEID" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SerialNumber">Serial Number</label>
                            <input asp-for="SerialNumber" class="form-control" />
                            <span asp-validation-for="SerialNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ModelNumbar">Model Numbar</label>
                            <input asp-for="ModelNumbar" class="form-control" />
                            <span asp-validation-for="ModelNumbar" class="text-danger"></span>
                        </div>
                    </div>




                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Make">Make</label>
                            <input asp-for="Make" class="form-control" />
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                    </div>
                    </div>




                </div>
            </div>
    </div>
    <div class="modal-footer">


        <button type="button" class="btn btn-primary btn-close" onclick="HidePopUp();">Close</button>
        <input type="submit" class="btn btn-primary  " value="Save" />
    </div>
</form>