body{background:#999966}
.border{background:#fff}
.box{box-shadow:0 0 10px #000}
.login .position-absolute{right:0; width:400px}
.login .btn{border-radius:20px}
.login .form-group input{border:0; border-bottom:1px solid #007bff; border-radius:0}
.login img{width:250px}

@media screen and (max-width:767px){
	.bg-login{background:none !important}
	.login .position-absolute{position:relative !important; width:300px; margin:auto}
}