@model HRMS.Core.ReqRespVm.RequestVm.AuthenticateModel;
@{ Layout = null;}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kudotech || Login</title>

     
    <link rel="shortcut icon" href="~/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link href="~/resources/login/css/login-page.css" rel="stylesheet" />
    <style>
        .login-page {
            background-image: url(../resources/login/img/login-bg.jpg);
            background-size: cover;
            height: 100vh;
            left: 0px !important;
        }

        .login-body .login-block .login-body-block {
            height: 330px
        }

        .alert-danger {
            color: #31708f;
            background-color: #d9edf7;
            border-color: #bce8f1;
            position: absolute;
            width: 96%;
            z-index: 2;
            left: 2%;
            top: 1%;
            marrgin-left: -1%;
            font-size: 13px;
        }

        .alert-dismissable {
            padding-right: 35px;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-dismissable .close {
            position: relative;
            top: 0px;
            right: 0px;
            color: inherit;
            text-decoration: none;
        }

        .close {
            float: right;
            font-size: 21px;
            font-weight: 700;
            line-height: 1;
            color: #000;
            text-shadow: 0 1px 0 #fff;
            filter: alpha(opacity=20);
            opacity: .2;
        }

        .fadeIn {
            display: inline-block;
            margin: 0px auto;
            position: fixed;
            transition: all 0.5s ease-in-out;
            z-index: 1031;
            top: 20px;
            left: 0px;
            right: 0px
        }

        .fadeOut {
            height: 1px;
            position: absolute;
            top: -100px;
            transition: all 0.5s ease-in-out;
        }

        #generate-otp, #new-password {
            display: none
        }

        #btnLogin {
            margin-top: 65px
        }

        .btnLogin-2 {
            margin-top: 10px
        }

        #btnotp {
            margin-top: 100px
        }

        #btnsub {
            margin-top: 32px
        }

        #btnForgot a:hover {
            color: #33cccc
        }

        .modal-dialog {
            margin: 100px 20px auto auto
        }

            .modal-dialog .close {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background: #33cccc;
                color: #fff;
                margin: -30px;
                opacity: 1;
                padding: 0
            }

        .modal-content {
            border: 5px solid #33cccc
        }

        .modal-title {
            margin: auto
        }

        .imp-link a {
            font-size: 20px !important
        }

            .imp-link a .fa-headset {
                font-size: 30px !important
            }

            .imp-link a:hover {
                text-decoration: none !important;
                color: #33cccc !important
            }
    </style>
    <style>

        .color-line {
            background: #f7f9fa;
            height: 6px;
            background-image: -webkit-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: -moz-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: -ms-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: linear-gradient(to right,#CC2AC0,#CC2AC0 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-size: 100% 6px;
            background-position: 50% 100%;
            background-repeat: no-repeat
        }
    </style>
</head>
<body>

    <div class="main-content login-page">
        <div class="color-line"> </div>
        <section>
            <div class="db-overlay"></div>
            <div class="db-head login-head">
                 
                <div class="main-container ot-pd">
                    <div class="db-head-content">
                        <div class="left-block">
                            <div class="menu-tab">
                                <!--<div class="menu-icon icon icon-menu-group">
                    </div>-->
                                <div class="menu-main-content">
                                    <div class="close-btn icon icon-wrong"></div>
                                </div>
                            </div>
                            <div class="main-logo">
                                <a href="http://kudotech.in/" target="_blank">
                                    <img src="~/contents/images/logo.png" />
                                    <span>Kudo Tech</span>
                                </a>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="imp-link">
                                <a onclick="OpenNeedHelp();" href="javascript:void(0)">
                                    <span><i class="fas fa-headset"></i></span>
                                    <span>need support?</span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="login-body main-container ot-pd">
                <div class="login-block">
                    <div class="login-title-block">
                        <span class="icon icon-lock"></span>
                        <span class="login-txt">user login</span>
                    </div>
                    <div class="login-body-block">
                        <form asp-action="LoginPost" asp-controller="Authenticate">
                            <div id="login">
                                <div class="input-group emp-code">
                                    <input type="text" id="UserName" name="UserName" required />
                                    <label for="UserName">employee code</label>
                                </div>
                                <div class="input-group pas-code">
                                    <input type="password" id="Password" name="Password" maxlength="24" required />
                                    <label for="Password">Password</label>
                                </div>
                                <div class="input-group login-input-list">
                                    <div class="login-input-item re-me" id="chkRemember">
                                        <span class="icon icon"></span>
                                    </div>
                                    <div class="login-input-item for-pass" id="btnForgot">
                                        <a href="javascript:void(0);">Forgot password ?</a>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(ViewBag.Message))
                                {
                                    <p style="color:red">@ViewBag.Message</p>
                                }
                                <button type="submit" class="db-btn login-btn sub-btn" id="btnLogin">
                                    Login
                                </button>

                            </div>
                        </form>
                        <div id="generate-otp" class="input-group">
                            <div class="login-input-item">
                                <input type="text" id="empCode" name="empCode" required />
                                <label for="empCode">Employee Code</label>
                                <p style="color:red">Enter Employee For Send OTP .</p>
                                <button type="button" class="db-btn sub-btn" id="btnotp">Send OTP</button>
                                <button type="button" class="db-btn login-btn sub-btn btnLogin-2">
                                    Login
                                </button>
                            </div>
                        </div>
                        <div id="new-password" class="input-group">
                            <span style="color:red" id="span_otpmessage"> </span>
                            <div class="input-group emp-code">
                                <input type="text" id="Otp" name="Otp" required />
                                <label for="Otp">OTP</label>
                            </div>
                            <div class="input-group password">
                                <input type="password" id="NewPassword" name="NewPassword" maxlength="24" required />
                                <label for="NewPassword">New Password</label>
                            </div>
                            <div class="input-group pas-code confirm-password">
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword" maxlength="24" required />
                                <label for="ConfirmPassword">Confirm New Password</label>
                            </div>
                            <br />
                            <button type="button" class="db-btn sub-btn" id="btnSubmit">Submit</button>

                        </div>


                    </div>
                </div>

                <div class="zingo-desc">
                    <div class="zingo-content">
                        <span class="loginTitle">Welcome to KudoTech  HR</span>
                        <span class="loginSubtitle">
                            As an organization we understand your aspiration to spend all your productive hours into expanding business. KudoTech HRMS is an employee self-service software for operations management which ultimately helps you to focus on your aspirations.
                        </span>

                    </div>
                </div>
            </div>
        </section>
    </div>
    @*@await Html.PartialAsync("~/Views/Shared/_LoadingPopup.cshtml")*@

    <!-- *****fancy box**** -->
    <link href="~/resources/login/css/swiper.min.css" rel="stylesheet" />
    <link href="~/resources/login/css/jquery.fancybox.min.css" rel="stylesheet" />
    <script src="~/resources/login/js/jquery-3.3.1.min.js"></script>
    <script src="~/resources/login/js/jquery.fancybox.min.js"></script>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $("#btnForgot").click(function () {
            $("#new-password, #login").hide();
            $("#generate-otp").show();
        });

        $("#btnotp").click(function () {
            debugger;
            $('#divLoader').modal('show');
            var empCode = $("#empCode").val();
            $.get("/Authenticate/ForgetPassword/", { empCode: empCode }, function (data) {
                if (data) {

                    $("#generate-otp, #login").hide();
                    $("#new-password").show();
                    $("#span_otpmessage").text("OTP has been sent, Please check and login");


                } else {
                    alert("Something wents wrong, Please contact admin");
                }
                $('#divLoader').modal('hide');
            })

        });

        $(".btnLogin-2").click(function () {
            $("#generate-otp, #new-password").hide();
            $("#login").show();
        });
        $("#btnSubmit").click(function () {
            $('#divLoader').modal('show');
            let otp = $("#Otp").val();
            var empCode = $("#empCode").val();
            let NewPassword = $("#NewPassword").val();
            $.get("/Authenticate/ForgetPasswordPost/", { otpCode: otp, empCode: empCode, NewPassword: NewPassword }, function (data) {
                if (data) {

                    alert("Password Change Successfully !!!!");
                    location.href = "/Authenticate/Index";
                }
                else {
                    $("#span_otpmessage").text("you enter Invalid Otp.")
                }
                $('#divLoader').modal('hide');
            });
        });
    </script>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Need Support</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body" id="div_NeedHelp">

                </div>
            </div>
        </div>
    </div>
    <script>
        function OpenNeedHelp() {
            $.get("Authenticate/NeedHelp/", function (response) {
                $("#div_NeedHelp").html(response);
                $('#myModal').modal({ backdrop: 'static' });
            }).done(function () {
                $('#divLoader').modal('hide');
            });
        }
    </script>
</body>
</html>
