@model HRMS.Core.ReqRespVm.RequestVm.ChangePasswordVm
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <div class="content-wrapper" style="min-height: 870px;">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="Index" asp-controller="Branch">Change Password</a></li>
        </ol>
        <section class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style="margin-top:0;">
                        <div class="col-md-12 col-sm-12">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <div class="box-title">
                                        <h3 class="box-title pull-left"><i class="fa fa-key fa-lg"></i> Change Password</h3>
                                    </div>
                                </div>
                                <div class="box-body">

                                    <form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
                                          data-ajax-complete="AjaxComplete"
                                          asp-action="ChangePasswordPost" asp-controller="Authenticate" data-ajax-success="Success">

                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="OldPassword">Old Password <em class="text-danger">*</em></label>
                                                    <input class="form-control" asp-for="OldPassword" />
                                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="NewPassword">New Password<em class="text-danger">*</em></label>
                                                    <input class="form-control" asp-for="NewPassword" />
                                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                </div>

                                            </div>

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ConfirmPassword">Confirm Password <em class="text-danger">*</em></label>
                                                    <input class="form-control" asp-for="ConfirmPassword" />
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group pull-right">
                                                     <br />
                                                   <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>

                                            </div>
                                        </div>
                                       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>



   