@model HRMS.Core.Entities.Organisation.Branch

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<style>
</style>
<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete" enctype="multipart/form-data"
      asp-action="UpsertBranch" asp-controller="Branch" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CompanyId">Company Name</label><span style="color:red">  *</span>
                            <select class="form-control" asp-for="CompanyId" asp-items="@(new SelectList(ViewBag.LegalEntityList ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>

                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="LocationTypeId">Location Type </label><span style="color:red">  *</span>
                            <select class="form-control" asp-for="LocationTypeId" asp-items="@(new SelectList(ViewBag.LocationTypeList ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>

                            <span asp-validation-for="LocationTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="RegionId">Region </label><span style="color:red">  *</span>
                            <select class="form-control" asp-for="RegionId" asp-items="@(new SelectList(ViewBag.RegionList ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>

                            <span asp-validation-for="RegionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CreatedBy" type="hidden" />
                            <input asp-for="CreatedDate" type="hidden" />
                            <input asp-for="FinancialYear" type="hidden" />
                            <label asp-for="Name">Branch Name</label><span style="color:red">  *</span>
                            <input type="text" class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Code">Code</label><span style="color:red">  *</span>
                            <input asp-for="Code" class="form-control" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-close" onclick="HidePopUp();">Close</button>
        <input type="submit" class="btn btn-primary  " value="Save" />
    </div>
</form>

<script>
    $("#Name").change(function () {
        $('#divLoader').modal('show');
        var legalentityid = $("#CompanyId").val();
        $.get("/Branch/GetLegalEntity/", { Id: legalentityid }, function (response) {           
            var name = $("#Name").val().substr(0, 2);
            var company = response.code;
            var code = company + name;
            $("#Code").val(code.toUpperCase());
        }).done(function () {
            $('#divLoader').modal('hide');
        });
    });
</script>


