@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
<script src="~/resources/plugins/high-chart/js/highcharts.js"></script>
<script src="~/resources/plugins/high-chart/js/exporting.js"></script>
<script src="~/resources/plugins/high-chart/js/export-data.js"></script>
<script src="~/resources/plugins/high-chart/js/accessibility.js"></script>
<link href="~/resources/plugins/high-chart/css/highchartcustom.css" rel="stylesheet" />
<script src="~/resources/plugins/high-chart/js/data.js"></script>
<script src="~/resources/plugins/high-chart/js/highcharts-3d.js"></script>



<div class="page-body">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Dashboard</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">DashBoard</a></li>

                    </ol>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid calendar-basic">
        <div class="row">
            <div class="col-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <button class="btn btn-success move-today btn-sm" type="button" onclick="GetHoliday();"><i class="fa fa-clock-o"> </i> Holiday</button>
                            <div class="col-md-12">

                                <div id="right">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body" id="div_Payslip">

                    </div>
                    <div class="card" id="div_Form16">

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div id="right">
                                    <div id="container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

 
<link href="~/calendar/main.css" rel="stylesheet" />
<script src="~/calendar/main.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
            },
            eventClick: function (arg) {
                if (confirm('Are you sure you want to delete this event?')) {
                    arg.event.remove()
                }
            },
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                //{
                //    title: 'All Day Event',
                //    start: '2022-04-01'
                //},
                //{
                //    title: 'Long Event',
                //    start: '2020-09-07',
                //    end: '2022-04-02'
                //},
                //{
                //    groupId: 999,
                //    title: 'Repeating Event',
                //    start: '2022-04-03'
                //},
                //{
                //    groupId: 999,
                //    title: 'Repeating Event',
                //    start: '2022-04-04'
                //},
                //{
                //    title: 'Conference',
                //    start: '2020-09-11',
                //    end: '2020-09-13'
                //},
                //{
                //    title: 'Meeting',
                //    start: '2020-09-12T10:30:00',
                //    end: '2020-09-12T12:30:00'
                //},
                //{
                //    title: 'Lunch',
                //    start: '2020-09-12T12:00:00'
                //},
                //{
                //    title: 'Meeting',
                //    start: '2020-09-12T14:30:00'
                //},
                //{
                //    title: 'Happy Hour',
                //    start: '2020-09-12T17:30:00'
                //},
                //{
                //    title: 'Dinner',
                //    start: '2020-09-12T20:00:00'
                //},
                //{
                //    title: 'Birthday Party',
                //    start: '2020-09-13T07:00:00'
                //},
                //{
                //    title: 'Click for Google',
                //    url: 'http://google.com/',
                //    start: '2020-09-28'
                //}
            ]
        });

        calendar.render();
    });

</script>


<script>
    $(document).ready(function () {
        $('#divLoader').modal('show');
        $.get("/Home/EmployeePayslip", {}, function (response) {
            $("#div_Payslip").html(response);
            $('#divLoader').modal('hide');
        });
        $.get("/Home/Form16", {}, function (response) {
            $("#div_Form16").html(response);
            $('#divLoader').modal('hide');
        });
        getemployeeGrossANdPI(0);

    });
    function GetHoliday() {
        $('#divLoader').modal('show');
        $.get("/Common/GetCompanyHoliday", {}, function (response) {
            $("#Div_HRMS_modal").html(response);
            $('#HeaderText').text('Holidays');
            $('#exampleModalfat').modal('show');
            $('#divLoader').modal('hide');
        });

    }
</script>
<script type="text/javascript">

    function getemployeeGrossANdPI(event) {
        $('#divLoader').modal('show');
        var Months = [];
        var Gross = [];
        var PI = [];
        $.get("/Home/getEmployeeGrossAndPI", { FinancialYear: event }, function (response) {
            debugger
            for (i = 0; i < response.length; i++) {
                Months.push(response[i].monthsName);
                Gross.push(response[i].grossSalary);
                PI.push(response[i].performanceInsentive);
            }


            var chart = Highcharts.chart('container', {

                chart: {
                    type: 'column'
                },

                title: {
                    text: 'This Year Gross Salary & Performance Insentive'
                },

                subtitle: {
                    text: ' '
                },

                //legend: {
                //    align: 'top',
                //    verticalAlign: 'middle',
                //    layout: 'vertical'
                //},

                xAxis: {
                    categories: Months,//['Apples', 'Oranges', 'Bananas'],
                    labels: {
                        x: -10
                    }
                },

                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Amount'
                    }
                },

                series: [{
                    name: 'Gross Salary',
                    data: Gross,//[6, 4, 2]
                }, {
                    name: 'Performance Incentive',
                    data: PI,//[8, 4, 3]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'bottom',
                                layout: 'horizontal'
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            });
            $('#divLoader').modal('hide');
        });
    }
</script>