@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.UI.Helpers;
@using HRMS.Core.Entities.Organisation;

@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");

}
<script src="~/resources/plugins/high-chart/js/highcharts.js"></script>
<script src="~/resources/plugins/high-chart/js/exporting.js"></script>
<script src="~/resources/plugins/high-chart/js/export-data.js"></script>
<script src="~/resources/plugins/high-chart/js/accessibility.js"></script>
<link href="~/resources/plugins/high-chart/css/highchartcustom.css" rel="stylesheet" />
<script src="~/resources/plugins/high-chart/js/data.js"></script>
<script src="~/resources/plugins/high-chart/js/highcharts-3d.js"></script>
<style>
    a {
        color: #2c2e2b;
        text-decoration: none;
    }
    
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="header-icon">
            <i class="pe-7s-home"></i>
        </div>
        <div class="header-title">
            <h1>Welcome To  - @companyDetails.Name </h1>
            <small>Employee Dashboard</small>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="pe-7s-home"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-bd  ">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>
                                <i class="fa fa-calendar"></i> Attendance
                                <button class="btn btn-black btn-sm pull-right" type="button" onclick="GetHoliday();"><i class="fa fa-clock-o"> </i> Holiday</button>
                            </h4>

                        </div>
                    </div>
                    <div class="panel-body" style="min-height:492px">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="panel panel-bd lobidisable">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4> <i class="fa fa-file-pdf-o"></i> Pay Slip</h4>
                        </div>
                    </div>
                    <div class="panel-body" id="div_Payslip">

                    </div>
                    <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h4> <i class="fa fa-download"></i> Download Form 16</h4>
                            </div>
                        </div>
                        <div class="panel-body" id="div_Form16">

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-bd  ">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>
                                <i class="fa fa-bar-chart"></i> This Year Gross Salary & Perfomance Incentive

                                <select style="max-width: 122px;" class="form-control input-sm pull-right" id="FinancialYear" name="FinancialYear" asp-items="@(new SelectList(ViewBag.AssesmentYearList ,"Id","Name"))">
                                    <option value="">--Select One--</option>
                                </select>

                            </h4>
                        </div>
                    </div>
                    <div class="panel-body" style="min-height:492px">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<link href="~/calendar/main.css" rel="stylesheet" />
<script src="~/calendar/main.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            initialDate: new Date(),
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            selectMirror: true,
            select: function (arg) {
                var title = prompt('Event Title:');
                if (title) {
                    calendar.addEvent({
                        title: title,
                        start: arg.start,
                        end: arg.end,
                        allDay: arg.allDay
                    })
                }
                calendar.unselect()
               
            },
            eventClick: function (arg) {
                if (confirm('Are you sure you want to delete this event?')) {
                    arg.event.remove()
                }
            },
            editable: true,

            //eventRender: function (event, element, view) {
            //    var view = 'month';
            //    if (event.start.getMonth() !== view.start.getMonth()) { return false; }
            //},
            dayMaxEvents: true, // allow "more" link when too many events
            events: [
                //{
                //    title: 'All Day Event',
                //    start: '2022-04-01'
                //},
                //{
                //    title: 'Long Event',
                //    start: '2020-09-07',
                //    end: '2022-04-02'
                //},
                //{
                //    groupId: 999,
                //    title: 'Repeating Event',
                //    start: '2022-04-03'
                //},
                //{
                //    groupId: 999,
                //    title: 'Repeating Event',
                //    start: '2022-04-04'
                //},
                //{
                //    title: 'Conference',
                //    start: '2020-09-11',
                //    end: '2020-09-13'
                //},
                //{
                //    title: 'Meeting',
                //    start: '2020-09-12T10:30:00',
                //    end: '2020-09-12T12:30:00'
                //},
                //{
                //    title: 'Lunch',
                //    start: '2020-09-12T12:00:00'
                //},
                //{
                //    title: 'Meeting',
                //    start: '2020-09-12T14:30:00'
                //},
                //{
                //    title: 'Happy Hour',
                //    start: '2020-09-12T17:30:00'
                //},
                //{
                //    title: 'Dinner',
                //    start: '2020-09-12T20:00:00'
                //},
                //{
                //    title: 'Birthday Party',
                //    start: '2020-09-13T07:00:00'
                //},
                //{
                //    title: 'Click for Google',
                //    url: 'http://google.com/',
                //    start: '2020-09-28'
                //}
            ]
        });

        calendar.render();
    });

</script>


<script>
    $(document).ready(function () {

        let companydetail = $("#hdnCompanyName").val();
        "use strict";
        setTimeout(function () {
            toastr.options = {
                closeButton: true,
                progressBar: true,
                showMethod: 'slideDown',
                timeOut: 4000,
                positionClass: "toast-bottom-right"
            };
            toastr.success('Employee Dashboard', 'Welcome to ' + companydetail);

        }, 1300);

        $('#divLoader').modal('show');
        $.get("/Home/EmployeePayslip", {}, function (response) {
            $("#div_Payslip").html(response);
            $('#divLoader').modal('hide');
        });
        $.get("/Home/Form16", {}, function (response) {
            $("#div_Form16").html(response);
            $('#divLoader').modal('hide');
        });
        getemployeeGrossANdPI(0);

    });
    $("#FinancialYear").change(function () {
        getemployeeGrossANdPI($("#FinancialYear").val());
    });

    function GetHoliday() {
        $('#divLoader').modal('show');
        $.get("/Common/GetCompanyHoliday", {}, function (response) {
            $("#Div_HRMS_modal").html(response);
            $('#HeaderText').text('Holidays');
            $('#HRMSmodal').modal('show');
            $('#divLoader').modal('hide');
        });

    }
</script>
<script type="text/javascript">

    function getemployeeGrossANdPI(event) {
        debugger;
        $('#divLoader').modal('show');
        var Months = [];
        var Gross = [];
        var PI = [];
        $.get("/Home/getEmployeeGrossAndPI", { FinancialYear: event }, function (response) {

            for (i = 0; i < response.length; i++) {
                Months.push(response[i].monthsName);
                Gross.push(response[i].grossSalary);
                PI.push(response[i].performanceInsentive);
            }


            var chart = Highcharts.chart('container', {

                chart: {
                    type: 'column'
                },

                title: {
                    text: 'This Year Gross Salary & Performance Insentive'
                },

                subtitle: {
                    text: ' '
                },

                //legend: {
                //    align: 'top',
                //    verticalAlign: 'middle',
                //    layout: 'vertical'
                //},

                xAxis: {
                    categories: Months,//['Apples', 'Oranges', 'Bananas'],
                    labels: {
                        x: -10
                    }
                },

                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Amount'
                    }
                },

                series: [{
                    name: 'Gross Salary',
                    data: Gross,//[6, 4, 2]
                }, {
                    name: 'Performance Incentive',
                    data: PI,//[8, 4, 3]
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'bottom',
                                layout: 'horizontal'
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            });
            $('#divLoader').modal('hide');
        });
    }
</script>

