
<div class="content-wrapper" style="min-height: 870px;">
    @*@Html.BuildBreadcrumbNavigation()*@
    <ol class="breadcrumb">
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li>Square Yards</li>
        <li><a asp-action="Index" asp-controller="Department">Department & Designation</a></li>
    </ol>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="row" style="margin-top:0;">
                    <div class="col-md-12 col-sm-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <div class="box-title">
                                    <i class="fa fa-list fa-lg"></i>   Department / Designation &nbsp;

                                </div>
                                <a class="btn btn-primary pull-right btn-xs" onclick="AddDepartment()" title="Add New Department / Designation">
                                    <i class="fa fa-plus"> &nbsp; Add</i>
                                </a>
                            </div>
                            <div class="box-body">
                                <div id="divHRMS">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<environment include="Development">
    <script src="~/HRMSJs/Department.js"></script>
</environment>
<environment include="Production">
    <script src="~/HRMSJs/Department.js"></script>
</environment>
