@{
    Layout = null;
}
@model IEnumerable<HRMS.Core.Entities.Organisation.Subsidiary>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/LoginJsCss/css/style.css">
    <script src="~/Jquery/jquery.min.js"></script>
    <style>     
        .box:hover, .box:active{background:#2bbea1 !important}
        .btn-primary{background:#2bbea1 !important; border:1px solid #2bbea1 !important}
        .btn-primary:hover{background:#0069d9 !important; border:1px solid #0069d9 !important}
    </style>
</head>
<body>

    <section class="container">
        <div class="row">
            @foreach (var data in Model)
            {
                
                <a href="javascript:void(0)" class="box-link" onclick="SelectSubsidry('@data.Id')">
                    <div class="col-lg-3 col-12 mt-5">
                        <div class="box d-block">
                            <img src="@data.Logo" alt="" class="img-fluid">
                            <p class="text-center">@data.Code   </p>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="row">
            <div class="col-lg-2 offset-lg-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-block mt-5">Skip</a>
            </div>
            <div class="col-lg-2">
                <a asp-action="Index" id="btnContinue" asp-controller="Home" class="btn btn-primary btn-block mt-lg-5 mt-3 disabled">Continue</a>
            </div>
            <div class="col-lg-3">
                <a class="btn btn-primary btn-block mt-lg-5 mt-3">Create Legal Entity</a>
            </div>
        </div>
    </section>

</body>
</html>
<script type="text/javascript">
    function SelectSubsidry(id) {
        $("#btnContinue").removeClass().addClass("btn btn-primary btn-block mt-5")
    }
</script>