@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coming Soon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <style>
        .bg-coming-soon {
            position: relative;
            background: url(../Images/de-1.jpg) no-repeat top right;
            background-size: cover;
           
            height: 100vh
        }

        .bg-box {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            margin-top: 100px;
        }

        h2 {
            font-weight: 700;
        }
    </style>
</head>
<body>
    <section class="bg-coming-soon">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="bg-box text-center mx-auto">
                       
                        @*<img src="~/Images/coming-soon.png" alt="" class="img-fluid mt-n5">*@
                        <p>Oh no! your login temporarily failed, so please try again later. If your login continues to fail, feel free to contact on - squarehr@kudotech.in</p> 
                        <a  asp-action="LoginIndex" asp-controller="Authenticate" class="btn btn-primary mt-3"><i class="fa fa-unlock"></i> Back To Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>