@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
 
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    
}









<footer class="main-footer">
    <div class="pull-right hidden-xs"> <b>Version</b> 1.0</div>
    <strong>Copyright &copy; @DateTime.Now.Year <a href="@companyDetails.Url">@companyDetails.Name</a>.</strong> All rights reserved. <i class="fa fa-heart color-green"></i>
</footer>