@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
@using HRMS.Core.Entities.Payroll;
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    var todayDate = DateTime.Now.ToLongDateString();
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var roleId = HttpContextAccessor.HttpContext.Session.GetString("RoleId");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@companyDetails.Name</title>
    <link rel="shortcut icon" href="@companyDetails.FavIcon" type="image/x-icon" />
    <link href="~/wp-content/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/lobipanel/lobipanel.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/pace/flash.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/themify-icons/themify-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/toastr/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/emojionearea/emojionearea.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/monthly/monthly.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/dist/css/styleBD.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/datatables/dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/wp-content/assets/plugins/modals/component.css" rel="stylesheet" type="text/css" />
    <style>
        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }

        ::-webkit-scrollbar-thumb {
            background-color: #cc2ac0;
            outline: 1px solid #cc2ac0;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <input type="hidden" id="hdnCompanyName" name="hdnCompanyName" value="@companyDetails.Name" />
    <div class="wrapper">

        @await Component.InvokeAsync("HeaderMenu")
        @await Component.InvokeAsync("MenuSubMenu")
        @RenderBody()
        @await Html.PartialAsync("~/Views/Shared/_LoadingPopup.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
        @await Html.PartialAsync("~/Views/Shared/_CommomModalPopUpPartial.cshtml")
    </div>
    <script src="~/wp-content/assets/plugins/jQuery/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/lobipanel/lobipanel.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/fastclick/fastclick.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/dist/js/frame.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/sparkline/sparkline.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/datamaps/d3.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/datamaps/topojson.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/datamaps/datamaps.all.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/counterup/waypoints.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/emojionearea/emojionearea.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/monthly/monthly.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/dist/js/dashboard.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/datatables/dataTables.min.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/modals/classie.js" type="text/javascript"></script>
    <script src="~/wp-content/assets/plugins/modals/modalEffects.js" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('#dataTableExample1').DataTable({
                "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "iDisplayLength": 10
            });

            $("#dataTableExample2").DataTable({
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', className: 'btn-sm' },
                    { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'excel', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                    { extend: 'print', className: 'btn-sm' }
                ]
            });


        });
    </script>


</body>
</html>
