@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@using HRMS.UI.Helpers;
@using HRMS.Core.Entities.Organisation;
@using HRMS.Core.Entities.Payroll;
@{
    var companyDetails = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<Company>("companyDetails");
    var todayDate = DateTime.Now.ToLongDateString();
    var employeeName = HttpContextAccessor.HttpContext.Session.GetString("UserName");
    var roleId = HttpContextAccessor.HttpContext.Session.GetString("RoleId");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@companyDetails.Name</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="@companyDetails.FavIcon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/themify.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/flag-icon.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/feather-icon.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/chartist.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/owlcarousel.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/prism.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/style.css">
    <link rel="stylesheet" href="~/wp-contents/assets/css/color-1.css" media="screen" id="color">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/calendar.css">
    <link rel="stylesheet" type="text/css" href="~/wp-contents/assets/css/responsive.css">
    <style type="text/css">
        .highcharts-figure,
        .highcharts-data-table table {
            min-width: 310px;
            max-width: 800px;
            margin: 1em auto;
        }

        .highcharts-data-table table {
            font-family: Verdana, sans-serif;
            border-collapse: collapse;
            border: 1px solid #ebebeb;
            margin: 10px auto;
            text-align: center;
            width: 100%;
            max-width: 500px;
        }

        .highcharts-data-table caption {
            padding: 1em 0;
            font-size: 1.2em;
            color: #555;
        }

        .highcharts-data-table th {
            font-weight: 600;
            padding: 0.5em;
        }

        .highcharts-data-table td,
        .highcharts-data-table th,
        .highcharts-data-table caption {
            padding: 0.5em;
        }

        .highcharts-data-table thead tr,
        .highcharts-data-table tr:nth-child(even) {
            background: #f8f8f8;
        }

        .highcharts-data-table tr:hover {
            background: #f1f7ff;
        }

        #button-bar {
            min-width: 310px;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
    <style>

        .color-line {
            background: #f7f9fa;
            height: 6px;
            background-image: -webkit-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: -moz-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: -ms-linear-gradient(left,#f7f9fa,#f7f9fa 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-image: linear-gradient(to right,#CC2AC0,#CC2AC0 25%,#9b59b6 25%,#9b59b6 35%,#3498db 35%,#3498db 45%,#62cb31 45%,#62cb31 55%,#ffb606 55%,#ffb606 65%,#e67e22 65%,#e67e22 75%,#e74c3c 85%,#e74c3c 85%,#c0392b 85%,#c0392b 100%);
            background-size: 100% 6px;
            background-position: 50% 100%;
            background-repeat: no-repeat
        }
        *::-webkit-scrollbar {
            width: 8px;
            height: 8px;
            background-color: rgba(255,255,255,0.1);
            position: absolute;
            z-index: 10000;
        }
        *::-webkit-scrollbar-thumb {
            background-color: #e74c3c;
        }
    </style>
</head>
<body>
    <div class="loader-wrapper">
        <div class="theme-loader">
            <div class="loader-p"></div>
        </div>
    </div>
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <div class="color-line"> </div>
        @await Component.InvokeAsync("HeaderMenu")
        <div class="page-body-wrapper sidebar-icon">
            @await Component.InvokeAsync("MenuSubMenu")
            @RenderBody()
            @await Html.PartialAsync("~/Views/Shared/_Footer.cshtml")
            @await Html.PartialAsync("~/Views/Shared/_CommomModalPopUpPartial.cshtml")
            @await Html.PartialAsync("~/Views/Shared/_LoadingPopup.cshtml")

        </div>
    </div>
    <script src="~/wp-contents/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/wp-contents/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/wp-contents/assets/js/icons/feather-icon/feather-icon.js"></script>
    <script src="~/wp-contents/assets/js/sidebar-menu.js"></script>
    <link href="~/resources/jQueryUI/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/resources/jQueryUI/jquery-ui.min.js"></script>

    <script src="~/wp-contents/assets/js/config.js"></script>
    <script src="~/wp-contents/assets/js/bootstrap/popper.min.js"></script>
    <script src="~/wp-contents/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/wp-contents/assets/js/chart/chartjs/chart.min.js"></script>
    <script src="~/wp-contents/assets/js/chart/chartist/chartist.js"></script>
    <script src="~/wp-contents/assets/js/chart/chartist/chartist-plugin-tooltip.js"></script>
    <script src="~/wp-contents/assets/js/chart/knob/knob.min.js"></script>
    <script src="~/wp-contents/assets/js/chart/apex-chart/apex-chart.js"></script>
    <script src="~/wp-contents/assets/js/chart/apex-chart/stock-prices.js"></script>
    <script src="~/wp-contents/assets/js/prism/prism.min.js"></script>
    <script src="~/wp-contents/assets/js/clipboard/clipboard.min.js"></script>
    <script src="~/wp-contents/assets/js/counter/jquery.waypoints.min.js"></script>
    <script src="~/wp-contents/assets/js/counter/jquery.counterup.min.js"></script>
    <script src="~/wp-contents/assets/js/counter/counter-custom.js"></script>
    <script src="~/wp-contents/assets/js/custom-card/custom-card.js"></script>
    <script src="~/wp-contents/assets/js/owlcarousel/owl.carousel.js"></script>
    <script src="~/wp-contents/assets/js/owlcarousel/owl-custom.js"></script>
    <script src="~/wp-contents/assets/js/dashboard/dashboard_2.js"></script>
    <script src="~/wp-contents/assets/js/script.js"></script>
     
    <!-- Plugins JS Ends-->
    @*<script src="~/wp-contents/assets/js/theme-customizer/customizer.js"></script>*@

</body>
</html>
