<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete" enctype="multipart/form-data"
      asp-action="" asp-controller="" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Message">Message</label><span style="color:red">  *</span>
                            <textarea class="form-control" rows="7" placeholder="Message...">Make the next birthday you celebrate a special one with personalized birthday cards paired with a hand-picked happy birthday quote or wish (see our amazing list below) that will surely make that special someone’s day a great day.</textarea>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-close" onclick="HidePopUp();">Close</button>
        <button type="button" class="btn btn-primary"><i class="fa fa-birthday-cake"></i> Send</button>
    </div>
</form>