@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization;
<link href="https://beats.squareyards.com//resources/dist/css/profile-view.css" rel="stylesheet" />
<style>
    .content {
         min-height: 0px; 
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
</style>
<div class="content-wrapper" style="min-height: 870px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <strong>Welcome</strong> to Square Beats: Rohit Kumar
            <a href="#" class="lead btn btn-primary"><em class="fa fa-plus"></em>Generate Lead</a>
        </h1>
        <ol class="breadcrumb">
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-primary">
                    <div class="inner">
                        <h3>150</h3>

                        <p>TOTAL EMPLOYEE</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>53</h3>

                        <p>
                            ACTIVE EMPLOYEE
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>44</h3>

                        <p>
                            IN-ACTIVE EMPLOYEE
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-times "></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>65</h3>

                        <p>
                            FNF INITIATED
                        </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-circle-o"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        
    </section>
    <section class="content">
         
            <div class="profile-nav nav-tabs-custom customNavigation">
                <span class="fa fa-bars"></span>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Monthly_Attendance_Graph" data-toggle="tab">Monthly Attendance Graph</a></li>
                    <li><a href="#Monthly_Gross_Salary_Incentive" data-toggle="tab">Monthly Gross Salary &Aacute; Incentive</a></li>
                    <li><a href="#Number_of_Employees_to_whom_Salary_Paid " data-toggle="tab">Number of Employees to whom Salary Paid </a></li>
                    <li><a href="#Number_of_Employees_to_whom_Incentive_Paid" data-toggle="tab">Number of Employees to whom Incentive Paid</a></li>
                   
                </ul>
                <div class="tab-content">
                    <div class="pro-overview tab-pane active" id="Monthly_Attendance_Graph">
                        <div class="row">
                            <p>Monthly Attendance Graph</p>
                        </div>
                        
                    </div>
                    <div class="tab-pane" id="Monthly_Gross_Salary_Incentive">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    Monthly Gross Salary &Aacute; Incentive
                                    <a id="lnkEditInternational" class="edit-icon" title="click to edit" href="javascript:void();">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </h3>
                                <p>Monthly Gross Salary &Aacute; Incentive</p>
                            </div>
                        </div>
                    </div>
                    <div class="pro-overview tab-pane" id="Number_of_Employees_to_whom_Salary_Paid" data-select2-id="Number_of_Employees_to_whom_Salary_Paid">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    Basic Salary Information
                                    <a id="lnkEditBankdetails" class="edit-icon" title="click to edit" href="javascript:void();">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </h3>
                                <p>Number_of_Employees_to_whom_Salary_Paid</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Number_of_Employees_to_whom_Incentive_Paid">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">
                                    Number_of_Employees_to_whom_Incentive_Paid
                                     
                                    <a id="cp_MainContent_lnkEditAgentdetails" title="click to edit" class="edit-icon" href="javascript:__doPostBack('ctl00$cp_MainContent$lnkEditAgentdetails','')">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </h3>
                              
                                <h3 class="card-title">
                                    Number_of_Employees_to_whom_Incentive_Paid
                                </h3>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        
    </section>
    <!-- /.content -->
</div>
