

@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@{

    var financialYear = HttpContextAccessor.HttpContext.Session.GetString("financialYear");
}
<script src="~/resources/plugins/high-chart/js/highcharts.js"></script>
<script src="~/resources/plugins/high-chart/js/exporting.js"></script>
<script src="~/resources/plugins/high-chart/js/export-data.js"></script>
<script src="~/resources/plugins/high-chart/js/accessibility.js"></script>
<link href="~/resources/plugins/high-chart/css/highchartcustom.css" rel="stylesheet" />
<script src="~/resources/plugins/high-chart/js/data.js"></script>
<script src="~/resources/plugins/high-chart/js/highcharts-3d.js"></script>
<style>
    .item {
        text-align: center
    }

    .nav-tabs-custom > .nav-tabs > li > a {
        font-size: 12px;
        font-weight: 0 !important;
    }

    .item .img-responsive {
        max-width: 100px;
        margin: auto
    }

    .item h5 {
        font-weight: bold;
        margin-top: 10px
    }

    .btn-primary:hover {
        color: #fff
    }

    .owl-nav {
        display: block !important
    }

    .owl-prev {
        position: absolute;
        left: 0;
        top: 0;
        font-size: 60px !important;
    }

    .owl-next {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 60px !important;
    }

    .owl-prev, .owl-next {
        color: #4291af !important;
    }

        .owl-prev:hover, .owl-next:hover {
            background: #fff !important;
            color: #3c8dbc !important
        }


    .owl-dots {
        margin-top: 30px
    }
</style>



<div class="content-wrapper" style="min-height: 870px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <strong>Welcome</strong> to Square Payroll
            <a href="javascript:void(0)" class="lead btn btn-info"> Current Financial Year :  @financialYear</a>
        </h1>
        <ol class="breadcrumb">
        </ol>
    </section>
    <section class="content">
        <br />
        @await Component.InvokeAsync("EmployeeCount")

    </section>
    <section class="content">
        <div class="row" style="margin-top:0;">
            <div class="col-md-12 col-sm-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <div class="box-title">
                            <i class="fa fa-bar-chart "></i> Salary
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="profile-nav nav-tabs-custom customNavigation">

                            <ul id="nav-t" class="nav nav-tabs">
                                <li class="active"><a href="#Monthly_Attendance_Graph" onclick="GetDetail(1)" data-toggle="tab">Monthly Attendance Graph</a></li>
                                <li><a href="#Monthly_Gross_Salary_Incentive" onclick="GetDetail(2)" data-toggle="tab">Monthly Gross Salary & Incentive</a></li>
                                <li><a href="#Number_of_Employees_to_whom_Salary_Paid " onclick="GetDetail(3)" data-toggle="tab">Number of Employees to whom Salary Paid </a></li>
                                <li><a href="#Number_of_Employees_to_whom_Incentive_Paid" onclick="GetDetail(4)" data-toggle="tab">Number of Employees to whom Incentive Paid</a></li>

                            </ul>
                            <div class="tab-content">
                                <div class="pro-overview tab-pane active" id="Monthly_Attendance_Graph">
                                    <div id="container"></div>
                                </div>
                                @*<div class="tab-pane" id="Monthly_Gross_Salary_Incentive">
                                        <div id="container1"></div>
                                    </div>
                                    <div class="pro-overview tab-pane" id="Number_of_Employees_to_whom_Salary_Paid" data-select2-id="Number_of_Employees_to_whom_Salary_Paid">
                                        <div id="container2"></div>
                                    </div>
                                    <div class="tab-pane" id="Number_of_Employees_to_whom_Incentive_Paid">
                                        <div id="container3"></div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div_details">

        </div>
        <div class="row" style="margin-top:0;">
            <div class="col-md-12 col-sm-12">
                <div class="box box-primary" style="background-color: #4291af">
                    <div class="box-header with-border">
                        <div class="box-title" style="color:white">
                            <i class="fa fa-birthday-cake"></i> Birthday and Work Anniversary
                        </div>
                    </div>
                    <div class="box-body" style="background:url('/images/birthday.jpg'); padding:30px 30px 20px">
                        <div class="profile-nav nav-tabs-custom customNavigation">
                            <br>
                            <ul class="tabs">
                                <li class="active"><a href="#" onclick="getBirthDayandAnniversary(1);" data-toggle="tab">Birthday</a></li>
                                <li><a href="#" onclick="getBirthDayandAnniversary(2);" data-toggle="tab">Anniversary</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="pro-overview tab-pane active" id="tab-1">

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        getBirthDayandAnniversary(1);

    });
    function getBirthDayandAnniversary(Id) {
        $('#divLoader').modal('show');
        $.get("/Home/GetBirthDayAnniversary", { Id: Id }, function (data) {
            $("#tab-1").html(data);
            $('#divLoader').modal('hide');
        });
    }

</script>


<script>
    $("#bar").click(function () {
        $("#nav-t").slideDown();
        $("#nav-t").fadeOut(3000);
    });
</script>

<environment include="Development">
    <script src="~/HRMSJs/DashboardGraph.js"></script>
</environment>
<environment include="Production">
    <script src="~/HRMSJs/DashboardGraph.js"></script>
</environment>