@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form CA Pdf</title>
    <style>
        table {
            border-collapse: collapse;
            font-size: 19px;
        }

        tr, td {
            border: 1pt solid black;
        }
        /* tr.page-break {
                display:inline-table;
                page-break-before: always;

            }*/
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h2>FORM CA</h2>
            </div>
            <div class="col-md-12" style="text-align:center">
                <h4>SUBMISSION OF CLAIM BY FINANCIAL CREDITORS IN A CLASS</h4>
            </div>
            <div class="col-md-12" style="text-align:center">
                <h4>
                    (Under Regulation 8A of the Insolvency and Bankruptcy (Insolvency Resolution Process for Corporate
                    Persons) Regulations, 2016)
                </h4>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6" style="text-align:left">
                    <p>From <br />Ujjawa Kumar, test</p>
                </div>
                <div class="col-md-6" style="text-align:right;vertical-align:top">
                    <p>20/04/2022</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>To</p>
                <p>The Interim Resolution Professional / Resolution Professional </p>
                <p>Mr Hitesh Goel</p>
                <p>
                    KPMG Restructuring Services LLP, Building No.10 Tower C, 8th Floor, DLF Cyber City, Phase II, Gurgaon,
                    Haryana - 122002
                </p>
                <br />
                <p style="">
                    Subject: Submission of claim and proof of claim.
                </p>
                <br />
                <p>
                    Madam/Sir,
                </p>
                <p>
                    I, Ujjawa Kumar, hereby submits this claim in respect of the corporate insolvency resolution process of
                    Supertech Limited . The details for the same are set out below:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" style="width:100%;">
                    <thead>
                        <tr>
                            <th colspan="3">
                                RELEVANT PARTICULARS
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:8%"> &nbsp; 1. </td>
                            <td style="width:41%">&nbsp; Name of the financial creditor</td>
                            <td style="width:41%">&nbsp; Ujjawa Kumar</td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp;2. </td>
                            <td style="width:41%">
                                &nbsp; Identification number of the financial creditor (If an
                                incorporated body, provide identification number and
                                proof of incorporation. If a partnership or individual,
                                provide identification records of all the partners or the
                                individual
                            </td>
                            <td style="width:41%">&nbsp; PAN card: hjcps32094j</td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp;3. </td>
                            <td style="width:41%">
                                &nbsp; Address and e-mail address of the financial creditor for
                                correspondence.

                            </td>
                            <td style="width:41%">
                                &nbsp; test ,
                                ujjawal5135897@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 4.  </td>
                            <td style="width:41%">
                                &nbsp;Total amount of claim (in Rs.)

                            </td>
                            <td style="width:41%">
                                &nbsp; Principal Amount: 10000
                                Tax Amount: 0
                                Interest Amount: 252
                                Other Amount: 0
                                Total: 10252
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 5.  </td>
                            <td style="width:41%">
                                &nbsp; Details of documents by reference to which the debt can
                                be substantiated

                            </td>
                            <td style="width:41%">
                                &nbsp; w
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 6.   </td>
                            <td style="width:41%">
                                &nbsp; Details of how and when debt incurred

                            </td>
                            <td style="width:41%">
                                &nbsp; e
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 7.  </td>
                            <td style="width:41%">
                                &nbsp;Details of any mutual credit, mutual debts, or other
                                mutual dealings between the corporate debtor and the
                                creditor which may be set-off against the claim

                            </td>
                            <td style="width:41%">
                                &nbsp; e
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 8. </td>
                            <td style="width:41%">
                                &nbsp; Details of any security held, the value of the security,
                                and the date it was given


                            </td>
                            <td style="width:41%">
                                &nbsp; h
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 9. </td>
                            <td style="width:41%">
                                &nbsp; Details of the bank account to which the amount of the
                                claim or any part thereof can be transferred pursuant to
                                a resolution plan
                            </td>
                            <td style="width:41%">
                                &nbsp; Account Number: 4
                                Name: gf
                                Account type: Saving
                                IFSC: jhufff
                                MICR:
                                Domestic/NRI: Domestic
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 10.  </td>
                            <td style="width:41%">
                                &nbsp;List of documents attached to this claim in order to prove
                                the existence and non-payment of claim due
                            </td>
                            <td style="width:41%">
                                &nbsp; 1. test
                            </td>
                        </tr>
                        <tr>
                            <td style="width:8%"> &nbsp; 11.</td>
                            <td style="width:41%">
                                &nbsp;Name of the insolvency professional who will act as the
                                Authorised representative of creditors of the class
                            </td>
                            <td style="width:41%">
                                &nbsp; Mr. Kamlesh Kumar Taneja
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                (Signature of financial creditor or person authorised to act on his behalf.)
                                [Please enclose the authority if this is being submitted on behalf of financial creditor}
                            </td>

                        </tr>
                        <tr>
                            <td colspan="3">
                                Name in BLOCK LETTERS
                            </td>

                        </tr>
                        <tr>
                            <td colspan="3">
                                Position with or in relation to creditor

                            </td>

                        </tr>
                        <tr>
                            <td colspan="3">
                                Address of person signing

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    *PAN number, passport, AADHAAR Card or the identity card issued by the Election Commission of India.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h2>
                    DECLARATION
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    I, Ujjawa Kumar, currently residing at test, do hereby declare and state as follows: -

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:20px">
                <p>
                    1. Supertech Limited, the corporate debtor was, at the insolvency commencement date, being 2022-
                    03-25, actually indebted to me for a sum of Rs. 10252.


                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:20px">
                <p>
                    2. In respect of my claim of the said sum or any part thereof, I have relied on the documents specified
                    below:
                    a. test
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:20px">
                <p>
                    3. The said documents are true, valid and genuine to the best of my knowledge, information and belief
                    and no material facts have been concealed therefrom.

                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:20px">
                <p>
                    4. In respect of the said sum or any part thereof, neither I, nor any person, by my order, to my
                    knowledge or belief, for my use, had or received any manner of satisfaction or security whatsoever,
                    save and except the following:
                    e.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:20px">
                <p>
                    5. I am not a related party of the corporate debtor, as defined under section 5 (24) of the Code
                </p>
                <p>
                    6. I am eligible to join committee of creditors by virtue of proviso to section 21 (2) of the Code even
                    though I am a related party of the corporate debtor.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-left:20px">
                <div class="col-md-6">
                    Date:20/04/2022
                    Place: test
                </div>
                <div class="col-md-6">
                    (Signature of the claimant)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <h2>
                    VERIFICATION
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    I,Ujjawa Kumar, the claimant hereinabove, do hereby verify that the contents of this proof of claim are true
                    and correct to my knowledge and belief and no material fact has been concealed therefrom. Verified at
                    test on 20/04/2022.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align:right">
                 Signature...
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    [Note: In the case of company or limited liability partnership, the declaration and
                    verification shall be made by the director/manager/secretary/designated partner and in the case of other
                    entities, an officer authorised for the purpose by the entity.]
                </p>
            </div>
        </div>
    </div>


</body>
</html>




