@model HRMS.Core.Entities.Master.AnnouncementAndUpdate

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>


 
<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete" enctype="multipart/form-data"
      asp-action="UpsertAnnouncementandupdate" asp-controller="AnnouncementAndUpdate" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BranchId">Branch</label> <span style="color:red">  *</span>
                            <select class="form-control"  asp-for="BranchId" asp-items="@(new SelectList(ViewBag.Branch ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="BranchId" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="DepartmentId">Department</label> <span style="color:red">  *</span>
                            <select class="selectpicker form-control" multiple data-live-search="true" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Department ,"Id","Name"))">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input asp-for="Id" type="hidden" />
                            <input asp-for="CreatedBy" type="hidden" />
                            <input asp-for="CreatedDate" type="hidden" />
                            <input asp-for="FinancialYear" type="hidden" />
                            <label asp-for="Announcement">Announcement</label><span style="color:red">  *</span>
                            <input type="text" class="form-control" asp-for="Announcement" />
                            <span asp-validation-for="Announcement" class="text-danger"></span>
                        </div>

                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="AnnouncementDate">Announcement Date</label><span style="color:red">  *</span>
                            <input asp-for="AnnouncementDate" class="form-control" />
                            <span asp-validation-for="AnnouncementDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ApplicableDate">Applicable Date</label> <span style="color:red">  *</span>
                            <input asp-for="ApplicableDate" class="form-control" />
                            <span asp-validation-for="ApplicableDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
             </div>
        </div>

    </div>
    <div class="modal-footer">


        <button type="button" class="btn btn-primary btn-close" onclick="HidePopUp();">Close</button>
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('#DepartmentId').selectpicker();
    })
</script>

