@model HRMS.Core.Entities.Talent.LearningandDevelopment

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<style>
</style>
<form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
      data-ajax-complete="AjaxComplete"
      asp-action="UpsertLocation" asp-controller="Location" data-ajax-success="Success">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DesignationId">Designation</label><span style="color:red">  *</span>
                        <select class="form-control" asp-for="DesignationId" asp-items="@(new SelectList(ViewBag.DesignationList ,"Id","Name"))">
                            <option value="">---Select---</option>
                        </select>
                        <span asp-validation-for="DesignationId" class="text-danger"></span>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="Id" type="hidden" />
                        <input asp-for="CreatedBy" type="hidden" />
                        <input asp-for="CreatedDate" type="hidden" />
                        <input asp-for="FinancialYear" type="hidden" />
                        <label asp-for="HRS">HRS</label><span style="color:red">  *</span>
                        <select asp-for="HRS" class="form-control">
                            <option value="">--Select--</option>
                            <option value="A-20 (HRS)">A-20 (HRS)</option>
                            <option value="B-40 (HRS)">B-40 (HRS)</option>

                        </select>
                        <span asp-validation-for="HRS" class="text-danger"></span>
                    </div>

                </div>






            </div>
        </div>

    </div>
    <div class="modal-footer">


        <button type="button" class="btn btn-primary btn-close" onclick="HidePopUp();">Close</button>
        <input type="submit" class="btn btn-primary  " value="Save" />
    </div>
</form>